/* bodyのスタイルを定義 */
body{
    background-image: url("img/omikuzi-torii.png");
    background-size: cover;
text-align:center;
}

/* スタートボタンのスタイルを定義 */
#start-btn{
    width: 150px;
    height: 50px;
    text-decoration:none;
    background: green;
    color: white;
    border-bottom: solid 4px green;
}

/* リセットボタンのスタイルを定義 */
#reset-btn{
    width: 150px;
    height: 50px;
    text-decoration: none;
    background:  green;
    color: white;
    border-bottom: solid 4px green;
}

/* 画像のスタイルを定義 */
img{
    width: auto;
    height: 480px;
    margin-bottom: 40px;
}
h1{
    font-size:30px;
    color:white
}